.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .calendar-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  .day, .empty-day {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .today {
    background-color: rgb(130, 196, 218);
    border-radius: 50%;
  }
  